[submodule "skills/gstack"]
	path = skills/gstack
	url = https://github.com/garrytan/gstack.git
[submodule "skills/superpowers"]
	path = skills/superpowers
	url = https://github.com/obra/superpowers.git
